@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
	background: #f4f4f4;
	color: black;
	text-align: center;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	padding: 20px;
	min-width: 250px;
	max-width: 500px;
	user-select: none;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px 5px 0;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: #51f199;
  color: #fff;
	cursor: pointer;
	outline: none;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

button:active {
	transform: scale(0.98);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Lora', serif;
    min-width: 400px;

}
.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
    border-bottom: thin solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.link {
  font: bold 11px Arial;
  text-decoration: none;
    background-color: #51f199;
  color: #fff;
  padding: 2px 6px 2px 6px;
    border-radius: 5px;

}