{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
      <h1>Please login</h1>
      <br>
    <div class="main">
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
          <button type="submit">Login</button>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    </div>
{% endblock %}